<div class="wallpaper">
  <div class="wallpaper-top"></div>
  <div class="wallpaper-bottom"></div>
</div>
<div class="overlay" fxLayout="row" fxLayoutAlign="center center">
  <md-card>
    <img src="./assets/logo.svg" width="100%" class="logo"/>
    <md-card-title fxLayoutAlign="center center">
      Sopra Online Bank
    </md-card-title>
    <md-card-subtitle fxLayoutAlign="center center">
      The online banking made&nbsp;<strong>secure</strong>
    </md-card-subtitle>
    <md-card-content fxLayout="column">
      <md-input-container>
        <input mdInput type="email" [(ngModel)]="user.email" placeholder="Email">
      </md-input-container>
      <md-input-container>
        <input mdInput type="password" [(ngModel)]="user.password" (keyup.enter)="login(user, $event)" placeholder="Password">
      </md-input-container>
      <div fxLayout="row" fxLayoutAlign="end end">
        <a href="/password">
          Forgot your password?
        </a>
      </div>
    </md-card-content>
    <md-card-actions fxLayoutAlign="end center">
      <button md-button color="primary" (click)="login(user, $event)" type="button"> LOGIN </button>
    </md-card-actions>
  </md-card>
</div>
