<div class="wallpaper">
  <div class="wallpaper-top"></div>
  <div class="wallpaper-bottom"></div>
</div>
<div class="overlay" fxLayout="row" fxLayoutAlign="center center">
  <md-card>
    <md-card-title fxLayoutAlign="center center">
      Reset your password
    </md-card-title>
    <md-card-subtitle fxLayoutAlign="center center">
      <span *ngIf="!user._id">
        Please, intrduce your email address
      </span>
      <span *ngIf="user._id">
        Please answer the question: <strong>{{ user.question }}</strong>
      </span>
    </md-card-subtitle>
    <md-card-content fxLayout="column">
      <md-input-container *ngIf="!user._id">
        <input mdInput type="email" [(ngModel)]="user.email" placeholder="Email" (keyup.enter)="next(user)">
      </md-input-container>
      <md-input-container *ngIf="user._id">
        <input mdInput [(ngModel)]="user.answer" (keyup.enter)="next(user)" placeholder="Answer">
      </md-input-container>
      <md-input-container *ngIf="user._id">
        <input mdInput type="password" [(ngModel)]="user.newPassword" (keyup.enter)="next(user)" placeholder="New Password">
      </md-input-container>
    </md-card-content>
    <md-card-actions fxLayoutAlign="end center">
      <button md-button color="primary" (click)="next(user, $event)" type="button"> NEXT </button>
    </md-card-actions>
  </md-card>
</div>
