<div fxLayout="row" fxLayoutAlign="space-between center" class="toolbar">
  <img src="./assets/logo-square.svg" class="logo-square"/>
  <div fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="center end">
      <label class="text-align-right">
        {{ user.fullName }}
      </label>
      <label class="text-align-right">
        {{ user.email }}
      </label>
    </div>
    <img src="{{ user.image }}" class="profile"/>
  </div>
</div>
<div fxLayout="row" class="content" fxLayoutWrap>
  <md-list class="sidenav" fxHide.xs>
    <a md-list-item href="{{ link.path }}" *ngFor="let link of links"> <i class="material-icons">{{ link.icon }}</i> {{ link.label }} </a>
  </md-list>
  <md-list class="sidenav mobile-sidenav" fxShow.xs fxHide fxFlex="100" fxLayout="row">
    <div *ngFor="let link of links" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <a md-list-item href="{{ link.path }}"><i class="material-icons">{{ link.icon }}</i></a>
    </div>
  </md-list>
  <div class="main" fxFlex fxFlex.xs="100">
    <router-outlet></router-outlet>
  </div>
</div>
